%h1 Intro Phrases

=link_to "New Intro Phrase", new_intro_phrase_path, class: "btn btn-primary"

%table.table.table-hover
  %thead
    %tr
      %th
        Text
      %th
        Pro-Hillary
  %tbody
    - @intro_phrases.each do |phrase|
      %tr
        %td
          =link_to phrase.text, intro_phrase_path(phrase)
        %td
          =link_to phrase.pro_hillary.nil? ? "NULL" : phrase.pro_hillary ? "True" : "False", intro_phrase_path(phrase)