<h1>Topic#edit</h1>
<p>Find me in app/views/topic/edit.html.erb</p>

<%= simple_form_for :topic, url:topic_path(@topic), method: :patch do |f| %>
	<%= f.input :name %>
	<%= f.button :submit %>
<% end %>

