.center
  %a{class: "btn btn-block btn-social btn-lg btn-facebook btn-home", :href => user_facebook_omniauth_authorize_path}
    %i.fa.fa-facebook
    .sign-in
      == Sign In With Facebook
  = link_to "Sign In", new_user_session_path
  = link_to "Sign Up", new_user_registration_path