<p>
	<strong>Key:</strong>
	<%= @twitter_bot.key %>
</p>
<p>
	<strong>Secret: </strong>
	<input type="password" value=<%= @twitter_bot.secret %> />
</p>
<p>
	<strong>Token: </strong>
	<input type="password" value=<%= @twitter_bot.token %> />
</p>
<p>
	<strong>Token Secret: </strong>
	<input type="password" value=<%= @twitter_bot.token_secret %> />
</p>
